.slide-1 {
  width: 100%;
  padding: 20rem 0;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../assets/images/admin-img.png");
  text-align: center;
}
.slide-2 {
  width: 100%;
  padding: 19.2rem 0;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../assets/images/IMG-20220923-WA0014.jpg");
}

.slide-3 {
  width: 100%;
  padding: 18.4rem 0;
  background-size: cover;
  background-image: url("../../assets/images/pexels-rodnae-productions-8363561.jpg");
}

.slider h2 {
  background-color: #c43a27;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  color: #f8f8f8;
  width: fit-content;
  margin: 0 auto;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
}

.slider p {
  background-color: #222842;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  color: #f8f8f8;
  padding: 0.2rem 1rem;
  margin: 1rem auto;
  width: fit-content;
  border-radius: 0.2rem;
}

.slide-2 p,
.slide-3 p {
  width: 800px;
  text-align: center;
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .slide-1 {
    padding: 16rem 0;
  }

  .slide-2 {
    padding: 15rem 0;
  }

  .slide-3 {
    padding: 14.4rem 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .slide-1 {
    padding: 15rem 0;
  }

  .slide-2 {
    padding: 14.4rem 0;
  }

  .slide-3 {
    padding: 14.4rem 0;
  }

  .slider h2 {
    font-size: 20px;
  }

  .slider p {
    font-size: 15px;
  }
}

/* medium size screen (e.g tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-1 {
    padding: 10rem 0;
  }

  .slide-2 {
    padding: 9.4rem 0;
  }

  .slide-3 {
    padding: 8.8rem 0;
  }

  .slider h2 {
    font-size: 20px;
  }

  .slider p {
    font-size: 15px;
  }

  .slide-2 p,
  .slide-3 p {
    width: 600px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-1,
  .slide-2,
  .slide-3 {
    padding: 10rem 0;
  }

  .slider h2 {
    font-size: 15px;
  }

  .slider p {
    font-size: 15px;
    display: none;
  }

  .slide-2 p,
  .slide-3 p {
    display: none;
  }
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .slide-1,
  .slide-2,
  .slide-3 {
    padding: 10rem 0;
  }

  .slider h2 {
    font-size: 15px;
  }

  .slider p {
    font-size: 15px;
    display: none;
  }

  .slide-2 p,
  .slide-3 p {
    display: none;
  }
}
