.news-section {
  margin-bottom: 200px;
}

.news-bg {
  width: 100vw;
  height: 450px;
  background: linear-gradient(
      45deg,
      rgb(26, 31, 51, 0.95),
      rgb(26, 31, 51, 0.95)
    ),
    url(../../assets/images/students-in-sportwears.jpeg);
  background-size: cover;
  /* background: red; */
  text-align: left;
}

.news-header {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  /* background-color: red; */
  color: white;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}

.news-header h2 {
  margin-bottom: 40px;
  /* border-bottom: 4px solid red; */
  /* padding-bottom: 20px; */
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: lighter;
}

.news-wrapper {
  width: 90vw;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin-bottom: 50px;
}

.news-img {
  width: 25rem;
  height: 16rem;
  margin: 50px 10px 10px 8vw;
  position: relative;
  border-radius: 20px;
  /* border: 4px solid red; */
  font-size: 0;
}

.news-img img {
  width: 100%;
  height: 100%;
}

.tag {
  background-color: rgb(26, 31, 51, 0.95);
  color: #ffffff;
  width: fit-content;
  padding: 5px 10px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50px;
  font-size: 16px;
}

.news-content {
  width: 50vw;
  height: 17rem;
  font-family: "Lato", sans-serif;
  /* font-size: 19px; */
  padding: 20px;
  margin: 40px 0 0 -80px;
  background: white;
  z-index: 1;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  /* background-color: aqua; */
}

.news-content:hover {
  background: var(--brand-red);
  color: white;
  transition: 500ms;
}

.news-content h2 {
  font-size: 20px;
}

.news-content p {
  font-size: 16px;
}

.news-content h2,
p {
  margin-bottom: 20px;
}

/* =============Media Queries section =========== */

/* medium size screen (e.g tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .news-bg {
    height: 400px;
  }

  .news-header {
    padding-left: 80px;
  }

  .news-header h2 {
    margin-bottom: 40px;
    font-size: 40px;
  }

  .news-wrapper {
    width: 95vw;
    margin-bottom: 50px;
  }

  .news-img {
    width: 23rem;
    height: 15rem;
    border-radius: 10px;
  }

  .news-content {
    width: 60vw;
    height: 16rem;
  }

  .news-content p,
  .news-content h2 {
    margin-bottom: 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .news-bg {
    height: 390px;
  }

  .news-header {
    padding-left: 60px;
  }

  .news-header h2 {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .news-wrapper {
    width: 95vw;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    margin-bottom: 50px;
  }

  .news-img {
    width: 20rem;
    height: 14rem;
    /* margin: 0; */
    margin-left: 20px;
    position: relative;
    border-radius: 20px;
    /* border: 4px solid red; */
    font-size: 0;
  }

  .news-content {
    width: 45vw;
    height: fit-content;
    font-family: "Lato", sans-serif;
    /* font-size: 19px; */
    padding: 15px;
    margin: 40px 0 0 -40px;
    background: white;
    z-index: 1;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    /* background-color: aqua; */
  }
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .news-bg {
    height: 390px;
  }

  .news-header {
    padding-left: 60px;
  }

  .news-header h2 {
    margin-bottom: 10px;
    font-size: 40px;
  }

  .news-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .news-img {
    width: 22rem;
    height: 18rem;
    margin: 50px 0 -50px 0;
    /* position: relative; */
    border-radius: 10px;
    /* border: 4px solid red; */
    font-size: 0;
  }

  .news-content {
    width: 20.1rem;
    height: fit-content;
    font-family: "Lato", sans-serif;
    /* font-size: 19px; */
    padding: 15px;
    margin: 0 auto;
    background: white;
    /* z-index: 1; */
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    /* background-color: aqua; */
  }
}

/* ==============New content section =========== */

.news-headline-wrapper {
  width: 70vw;
  height: 200px;
  /* background: red; */
  margin: 5vh auto;
  display: flex;
  justify-content: flex-start;
}

.line-horizontal {
  height: 10px;
  width: 70px;
  background-color: red;
  margin: -1px;
}

.line-vertical {
  height: 70px;
  width: 10px;
  background-color: red;
  margin: -1px;
}

.news-date {
  border: 6px solid black;
  border-radius: 4px;
  width: 125px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-day {
  font-family: "Lato", sans-serif;
  font-size: 62px;
}

.news-month {
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

.news-head {
  /* background-color: red; */
  font-family: "Lato", sans-serif;
  height: 145px;
  width: 50vw;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 4px solid black;
}

.news-head > h2 {
  font-size: 46px;
  font-weight: 200;
  word-spacing: 6px;
}

.news-head > div {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: flex-end;
}

.news-head > div > p {
  margin-top: 40px;
}

.news-head > div > button {
  margin: 0 50px 20px 0;
  height: 30px;
  width: 70px;
  border: 0;
  background-color: rgb(26, 31, 51, 0.95);
  color: #ffffff;
  font-weight: 600;
}

.news-article {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  width: 70vw;
  margin: 0 auto 30vh auto;
}

/* medium size screen (e.g tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .news-headline-wrapper {
    width: 85vw;
  }

  .news-head {
    height: 145px;
    width: 62vw;
  }

  .news-head > h2 {
    font-size: 44px;
  }

  .news-article {
    font-size: 20px;
    width: 85vw;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .news-headline-wrapper {
    width: 90vw;
    height: 180px;
    /* background: red; */
    margin: 4vh auto;
  }

  .news-calendar {
    /* margin-left: -20px; */
  }

  .news-date {
    border: 6px solid black;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .news-day {
    font-family: "Lato", sans-serif;
    font-size: 56px;
  }

  .news-month {
    font-family: "Lato", sans-serif;
    font-size: 20px;
  }

  .news-head {
    height: 145px;
    width: 68vw;
    margin-left: 50px;
  }

  .news-head > h2 {
    font-size: 40px;
  }

  .news-article {
    font-size: 20px;
    width: 90vw;
  }
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .news-headline-wrapper {
    display: block;
    width: 90vw;
    height: 180px;
    /* background: red; */
    margin: 4vh auto;
  }

  .line-vertical,
  .line-horizontal {
    display: none;
  }

  .news-calendar {
    margin-bottom: 50px;
  }

  .news-date {
    border: 6px solid black;
    border-radius: 4px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .news-day {
    font-family: "Lato", sans-serif;
    font-size: 50px;
  }

  .news-month {
    font-family: "Lato", sans-serif;
    font-size: 14px;
  }

  .news-head {
    height: 95px;
    /* background-color: red; */
    width: 100vw;
    margin: 0;
    /* margin-bottom: 100vh; */
  }

  .news-head > h2 {
    font-size: 40px;
  }

  .news-article {
    font-size: 20px;
    width: 90vw;
    margin: 20vh auto;
  }
}
