@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Mulish:wght@200&display=swap");

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

body {
  background-color: #f8f8f8;
  width: 100%;
  /* max-width:fit-content;  */
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
